<div class="card col-lg-3 col-md-5 col-12 m-1">
    {% set userIsRegistered = false %}
    {% for registration in outing.registrations %}
        {% if registration.participant == app.user %}
            {% set userIsRegistered = true %}
        {% endif %}
    {% endfor %}
    {% if outing.organizer == app.user %}
        <div class="card-header">
            <p class="text-primary mx-auto my-0">Vous êtes l'organisateur</p>
        </div>
    {% elseif outing.isUserRegistered(app.user) %}
        <div class="card-header">
            <p class="text-success mx-auto my-0">Vous êtes inscrit</p>
        </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ outing.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ outing.startDate|format_datetime('long', 'short', locale='fr') }}</h6>
        <p class="card-text">{{ outing.description }}</p>
        <hr>
        <h6 class="card-subtitle mb-1 text-muted">Nombre d'inscrits : {{ outing.registrations.count }}
            / {{ outing.registrationsMax }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Fin des inscriptions : <span class="text-danger">{{ outing.closingDate|format_datetime('long', 'short', locale='fr') }}</span></h6>
        <p class="mb-2">Organisateur : <a class="card-link"
                                          href="{{ path('user_show', {'pseudo':outing.organizer.pseudo}) }}">{{ outing.organizer.pseudo }}</a>
        </p>
        <div class="mx-auto">
            <a href="{{ path('outing_preview', {'id':outing.id}) }}" class="btn btn-secondary">Plus d'infos</a>
            {% if outing.isUserRegistered(app.user) and outing.organizer != app.user %}
                <a href="{{ path('outing_unregister', {'id':outing.id}) }}" class="btn btn-danger">Se désister</a>
            {% elseif outing.canUserRegister(app.user)%}
                <a href="{{ path('outing_register', {'id':outing.id}) }}" class="btn btn-success">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</div>