{% extends 'base.html.twig' %}

{% block body %}
{#    <h2 class="my-5 text-center align-items-center">#}
{#        Créer une sortie#}
{#    </h2>#}

{#    {{ form_start(form) }}#}

{#    <div class="container row mx-auto">#}
{#        <div class="col-lg-6 col-12">#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.title) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.startDate) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.closingDate) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.registrationsMax) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.duration) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.description) }}#}
{#            </div>#}

{#        </div>#}

{#        <div class="col-lg-6 col-12">#}

{#            <div class="col-12 mb-3">#}
{#                <label for="organizingCity" class="form-label">Ville organisatrice :</label>#}
{#                <p>{{ app.user.site.name }}</p>#}
{#            </div>#}

{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.place.name) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.place.city) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.place.address) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.place.latitude) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.place.longitude) }}#}
{#            </div>#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_row(form.poster, {'label': 'Photo pour la sortie :', 'attr': {'class': 'form-control'}}) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="button-container d-flex justify-content-center">#}
{#        <button type="submit" class="btn btn-lg btn-primary m-2">Enregistrer</button>#}
{#        <a href="#" class="btn btn-lg btn-danger m-2">Annuler</a>#}
{#    </div>#}

{#    {{ form_end(form) }}#}

    <section class="p-5">
        <h1 class="font-semibold text-center text-3xl">Créer une sortie</h1>
        <div class="grid gap-6 mb-6 md:grid-cols-2 py-8">
            <div class="relative">
                {{ form_widget(form.title, {
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'outingName'
                    },
                    'label': 'Nom de la sortie',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    }
                }) }}
            </div>
            <div class="relative">
                <input type="text" id="school"
                       class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer"
                       placeholder=""/>
                <label for="school"
                       class="absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Campus d'accueil</label>
            </div>
            <div class="relative">
                {{ form_row(form.startDate, {
                    'label': 'Date et heure de la sortie',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'startDate'
                    }
                }) }}
            </div>

            <div class="relative">
                {{ form_row(form.closingDate, {
                    'label': 'Date limite d\'inscription',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'closingDate'
                    }
                }) }}
            </div>

            <div class="relative">
                {{ form_row(form.registrationsMax, {
                    'label': 'Nombre de place',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'registrationsMax'
                    }
                }) }}
            </div>

            <div class="relative">
                {{ form_row(form.duration, {
                    'label': 'Durée (en minutes)',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'duration'
                    }
                }) }}
            </div>

            <div class="relative">
                {{ form_row(form.place.city, {
                    'label': 'Ville',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'city'
                    }
                }) }}
            </div>

            <div class="relative">
                <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"></path>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, or GIF (MAX. 800x400px)</p>
                        </div>
                        {{ form_row(form.poster) }}
                    </label>
                </div>
            </div>

            <div class="relative">
                {{ form_row(form.description, {
                    'label': 'Description',
                    'label_attr': {
                        'class': 'absolute text-sm text-light-primary dark:text-dark-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-light-primary dark:peer-focus:text-dark-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto'
                    },
                    'attr': {
                        'class': 'block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-light-primary dark:text-dark-primary bg-light-secondary/50 dark:bg-dark-secondary border-0 border-b-2 border-light-primary/75 dark:border-dark-primary/75 appearance-none dark:border-dark-primary focus:outline-none focus:ring-0 focus:border-light-primary dark:focus:border-dark-primary peer',
                        'id': 'description'
                    }
                }) }}
            </div>
        </div>

        <div class="mt-6 grid w-full grid-cols-2 justify-end space-x-4 md:flex">
            <div class="flex w-full justify-center">
                <button type="reset"
                        class="px-4 py-2 mx-4 text-white dark:text-light-font dark:hover:text-dark-primary uppercase bg-light-primary dark:bg-dark-primary border-2 border-transparent rounded-lg text-md hover:bg-light-secondary dark:hover:bg-dark-secondary">
                    Publier
                </button>
                <button type="reset"
                        class="px-4 py-2 mx-4 text-light-primary dark:text-dark-primary dark:hover:text-dark-primary hover:text-light-font uppercase bg-transparent rounded-lg hover:bg-light-secondary dark:hover:bg-dark-secondary">
                    Annuler
                </button>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}