{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon profil{% endblock %}

{% block body %}
    <div class="max-w-xl mx-auto my-10 rounded-lg shadow-md p-5 text-light-primary dark:text-dark-primary">
        <img src="{{ asset((user.profilePicture) ? 'uploads/' ~ user.profilePicture : 'profilDefault.png') | imagine_filter('profile') }}"
             class="w-56 h-56 rounded-full mx-auto"
             alt="Photo de profil de {{ user.pseudo }}">
        <h2 class="text-center text-2xl font-semibold mt-3">{{ user.firstname|capitalize }} {{ user.lastname|upper }}</h2>
        <p class="text-center mt-1">@{{ user.pseudo }}</p>
        <div class="my-2">
            <label for="UserSchool"
                   class="block overflow-hidden rounded-md border border-light-secondary/50 dark:border-dark-secondary px-3 py-2 shadow-sm focus-within:border-light-primary dark:focus-within:border-dark-primary focus-within:ring-1 focus-within:ring-light-primary dark:focus-within:ring-dark-primary">
                <span class="text-xs font-medium">Campus</span>
                <input type="text" id="UserSchool" value="{{ user.site }}"
                       class="mt-1 w-full border-none p-0 bg-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                       disabled/>
            </label>
        </div>
        {% if user == app.user %}
            <div class="my-2">
                <label for="UserTel"
                       class="block overflow-hidden rounded-md border border-light-secondary/50 dark:border-dark-secondary px-3 py-2 shadow-sm focus-within:border-light-primary dark:focus-within:border-dark-primary focus-within:ring-1 focus-within:ring-light-primary dark:focus-within:ring-dark-primary">
                    <span class="text-xs font-medium">Téléphone</span>
                    <input type="tel" id="UserTel" value="{{ user.phone }}"
                           class="mt-1 w-full border-none p-0 bg-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                           disabled/>
                </label>
            </div>
            <div class="my-2">
                <label for="UserEmail"
                       class="block overflow-hidden rounded-md border border-light-secondary/50 dark:border-dark-secondary px-3 py-2 shadow-sm focus-within:border-light-primary dark:focus-within:border-dark-primary focus-within:ring-1 focus-within:ring-light-primary dark:focus-within:ring-dark-primary">
                    <span class="text-xs font-medium">Email</span>
                    <input type="email" id="UserEmail" value="{{ user.email }}"
                           class="mt-1 w-full border-none p-0 bg-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                           disabled/>
                </label>
            </div>
            <div class="my-5 flex justify-center text-center">
                <a href="#"
                   class="px-4 py-2 mx-4 text-light-primary dark:text-dark-primary dark:hover:text-dark-primary hover:text-light-font uppercase rounded-lg hover:bg-light-secondary bg-light-info dark:bg-dark-info text-md">
                    Modifier mon mot de passe
                </a>
                <a href="{{ path('user_edit') }}"
                   class="px-4 py-2 mx-4 text-white dark:text-light-font dark:hover:text-dark-primary uppercase bg-light-primary dark:bg-dark-primary border-2 border-transparent rounded-lg text-md hover:bg-light-secondary dark:hover:bg-dark-secondary">
                    Modifier mon profil
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
